/* this is the comment form*/
#comments{}
#comment_bar {
	margin: -13px 0px 0px 0px;
	padding-left: 300px;
	font-size: .9em;
	border-top: 1px dotted #1f4739;
	border-bottom: 1px dotted #1f4739;
}
.comslider a{
	padding: 0px 5px 0px 15px;
	background: transparent url('../images/menu_arrow_out.png') 0px 1px no-repeat;
}
.comslider a:hover{
	padding: 0px 5px 0px 15px;
	background: transparent url('../images/menu_arrow_over.png') 0px 1px no-repeat;
}
.comment_tab_close a{
	padding: 0px 5px 0px 15px;
	background: transparent url('../images/menu_logo_ball_mini_out.png') 0px 1px no-repeat;
}
.comment_tab_close a:hover{
	padding: 0px 5px 0px 15px;
	background: transparent url('../images/menu_logo_ball_mini_over.png') 0px 1px no-repeat;
}
.comselected{display: none;}